<div class="page-container">
    <h1>About Us</h1>
    <p>We are a team of passionate developers building amazing applications.</p>
    <p>Our mission is to create user-friendly and efficient software solutions.</p>
    <p>Contact us at: <a href="mailto:miri@am.com">email</a></p>

    <p>Follow us on social media:</p>
    <ul>
        <li><a href="https://twitter.com/ourcompany" target="_blank">Twitter</a></li>
        <li><a href="https://facebook.com/ourcompany" target="_blank">Facebook</a></li>
        <li><a href="https://linkedin.com/company/ourcompany" target="_blank">LinkedIn</a></li>
    </ul>
    <p>Thank you for visiting our page!</p>
</div>